body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /* styles the form text areas */
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  /* styles for the left column */
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  /* styles the rows */
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  /* styles the hour block */
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* dynamic styling based on the current time */
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  /* dynamic styling based on the current time */
  .present {
    background-color: #ff6961;
    color: white;
  }
  /* dynamic styling based on the current time */
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  /* styles for the right column */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  /* styles the "clear" button */
  #clear {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  